body {  
   color: #3C3C3C;  
}  
body, button, input, select, textarea {  
    font: 12px/1.5 tahoma,arial,"Hiragino Sans GB",ו,sans-serif;  
}  
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {  
    margin: 0px;  
    padding: 0px;  
}  
ol, ul {  
    list-style: outside none none;  
}  
a{color:#3C3C3C;}  
a {  
    text-decoration: none;  
}  
fieldset, img {  
    border: 0px none;  
}  
.prcWarp{  
    font:12px/1.5 tahoma,arial,"Hiragino Sans GB",ו,sans-serif;  
    margin-top:5px;  
    margin-bottom:5px;  
    overflow:hidden;  
}  
  
.graph{  
    border:1px solid #7e7e7e;  
    overflow:hidden;  
    width:400px;  
    height:18px;  
    display:block;  
    position:relative;  
}  
.prcCategory{  
    height:20px;  
    line-height:20px;  
    overflow:hidden;  
    white-space:nowrap;  
    overflow:hidden;  
    text-overflow:ellipsis;  
    display:block;  
    float:left;  
    width:60px;  
    text-align:right;  
    padding:0px 5px;  
}  
.prcBar{  
    text-indent:-999em;  
    display:block;  
    height:100%;  
}  
.categoryText{  
    position:absolute;  
    height:18px;  
    line-height:18px;  
    overflow:hidden;  
    display:block;  
    top:50%;  
    margin-top:-9px;  
    border  
}  
  
.graph .orange{background-color:#ff6600;}  
.graph .green{background-color:#66CC33;}  
.graph .blue{background-color:#3399CC;}  
.graph .red{background-color:red;}  
.graph .black{background-color:#555;}  